
.icon-cleaner:before { content: '\e800'; } /* '' */
.icon-equipment:before { content: '\e801'; } /* '' */
.icon-care:before { content: '\e802'; } /* '' */
.icon-car-wash:before { content: '\e803'; } /* '' */
.icon-car-wash-1:before { content: '\e804'; } /* '' */
.icon-cleaner-1:before { content: '\e805'; } /* '' */
.icon-seat:before { content: '\e806'; } /* '' */
.icon-bottle:before { content: '\e807'; } /* '' */
.icon-move-to-next:before { content: '\e808'; } /* '' */
.icon-bulb:before { content: '\e809'; } /* '' */
.icon-quote_soft:before { content: '\e80a'; } /* '' */
.icon-polish:before { content: '\e80b'; } /* '' */
.icon-stain:before { content: '\e80c'; } /* '' */
.icon-tire:before { content: '\e80d'; } /* '' */
.icon-window:before { content: '\e80e'; } /* '' */
.icon-leather:before { content: '\e80f'; } /* '' */
.icon-perfume:before { content: '\e810'; } /* '' */